body {
  margin: 0;
  overflow: hidden;
  background: #0f172a;
  font-family: Arial, sans-serif;
}

/* CANVAS */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* UI LAYER */
#uiLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

#palette,
#profileBtn,
#chatBtn,
.panel {
  pointer-events: auto;
}

/* PALETTE */
#palette {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #111827;
  display: flex;
  overflow-x: auto;
  align-items: center;
  border-top: 3px solid #2563eb;
}

.color {
  min-width: 35px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

/* BUTTONS */
#profileBtn,
#chatBtn {
  position: fixed;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

#profileBtn {
  bottom: 100px;
}

#chatBtn {
  bottom: 40px;
}

/* PANELS */
.panel {
  position: fixed;
  right: 20px;
  bottom: 160px;
  width: 260px;
  height: 300px;
  background: #1f2937;
  color: white;
  border-radius: 10px;
  display: none;
  padding: 10px;
  overflow-y: auto;
}
